@import "tailwindcss";
@font-face {
    font-family: 'Faustina';
    src: url('./assets/Faustina-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: 'Faustina', serif;
  }

